*{margin: 0; padding: 0;}
ul li{list-style: none;}
a{text-decoration:none ; color: #000;}

.cf::after{
    content: '';
    display: block;
    clear: both;    
}

@media screen {
    
}

#wrap{    
    display: block;
    width: 1500px;
    height: 1200px;
    margin: 0 auto;
    
}

#wrap ul li{    
    display: block;
    margin-left: 40px;       
    width: 330px;
    height: 340px;
    float: left;
    box-sizing: border-box;    
    overflow: hidden;
    border-radius: 20px;
    border-top: 1px solid #333;
}
   

#wrap ul li:hover img{         
    transform: scale(1.1);    
}

#wrap ul li img{
    margin: 0 auto;
    width: 330px;
    height: 340px;
    border-radius: 20px;   
    transition: all 0.2s;       
}     

.header{
    width: 1600px;
    height: 250px;
    margin: 0 auto;   
}

.header h1{
    margin-left: 4%;
    margin-top: 70px;
    font-size: 45px;
    font-weight: bold;
}

.header ul li{
    display: block;
    background-color: #fff9e2;   
    line-height: 60px;
    margin: 0 auto;
    border-radius: 50px 0 0 50px;
    border: 1px solid #f0eded;   
    margin-top: 70px;
    width: 640px;
    height: 60px;
    float: left;   
}
.header p{
        font-weight: bold;
        text-align: center;
}

.header .left{
    margin-left: 70px;
    border-radius: 50px 0 0 50px;    
}
.header .right{border-radius: 0px 50px 50px 0;}