*{margin: 0; padding: 0;}

div{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px #333;
}

.wrap header{
    width: 1000px;
    height: 200px;
    background-image: url(../images/top2.jpg);
    background-size: cover;
}

header h1{
 text-align: 90% 90%;
 color: white;
}

nav{
    background-color: rgb(44, 3, 3);
    height: 60px;
    width: 1000px;
    }

nav ul{
    list-style: none;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 15px;
    margin-left: 50px;
}

section{
    width:580px ;
    height: 550px;
    border: 1px solid #333;
    background-color: #ccc;
}
.content h3{
    margin-top: 10px;
    text-align: center;
}

article{
    border: 1px solid #333;
    width: 240px;
    height: 200px;
    float: left;
    background-color: white;
    margin: 20px;
}

aside{
    width:100px ;
    height: 550px;
    border: 1px solid #333;
    background-color: beige;
    float: right;
    
}