*{margin: 0; padding: 0;}

.wrap{
    position: relative;
    width: 830px;
    height: 310px;
    margin: 20px auto 0;
    border: 1px solid red;    
}

.box1{
width: 200px;
height: 150px;
position: absolute;
top: 0px;
left: 0px;
}
.box1::after{
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 255, 0.4);
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.4s;
}
.box1:hover::after{
   width: 100%;
}

.box2{
width: 200px;
height: 150px;
position: absolute;
top: 160px;
left: 0px;
}

.box2::after{
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 255, 0.4);
    top: 0;
    right: 0;
    position: absolute;
    transition: all 0.4s;
}
.box2:hover::after{
   width: 100%;
}

.box3{
width: 200px;
height: 310px;
position: absolute;
top: 0;
left: 210px;
}

.box3::after{
    content: '';
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 255, 0.4);
    top: 0;
    right: 0;
    position: absolute;
    transition: all 0.4s;
}
.box3:hover::after{
   height: 100%;
}

.box4{
width: 200px;
height: 150px;
position: absolute;
top: 0;
left: 420px;
}

.box4::after{
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 255, 0.4);
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.4s;
}
.box4:hover::after{
   width: 100%;
}

.box5{
width: 200px;
height: 150px;
position: absolute;
top: 0;
left: 630px;
}

.box5::after{
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 255, 0.4);
    top: 0;
    right: 0;
    position: absolute;
    transition: all 0.4s;
}
.box5:hover::after{
   width: 100%;
}

.box6{
width: 410px;
height:150px;
position: absolute;
top: 160px;
left: 420px;
}

.box6::after{
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 255, 0.4);
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.4s;
}
.box6:hover::after{
   width: 100%;
}